- @page_title = 'Dashboard'
#dashboard_show
  .group_1
    %section.section_1
      :markdown
        This is section 1 of your dashboard.
    %section.section_2
      :markdown
        This is section 2 of your dashboard.
    .clear
  .group_2
    %section.section_3
      :markdown
        This is section 3 of your dashboard.
    %section.section_4
      :markdown
        This is section 4 of your dashboard.
    .clear
