%ul
  %li
    Business
    %span.count 218
  %li
    Crime
    %span.count 134
  %li
    Economy
    %span.count 251
  %li
    Environment
    %span.count 89
  %li
    Healthcare
    %span.count 102
  %li
    Politics
    %span.count 16
  %li
    Poverty
    %span.count 99
  %li
    Recovery
    %span.count 321
  %li
    Trade
    %span.count 45
  %li
    Transportation
    %span.count 22
