= form_tag(search_data_sets_path, :class => 'search') do
  = hidden_field_tag(:filters, 'k')
  = search_field_tag(:k, nil, :placeholder => 'keywords', :id => nil, :class => :search)
  = submit_tag('Search', :class => :submit)
