%ul
  %li
    USA (federal)
    %span.count 2,205
  %li
    Texas
    %span.count 827
  %li
    Maryland
    %span.count 455
  %li
    San Francisco
    %span.count 392
  %li
    Utah
    %span.count 102
  %li
    DC
    %span.count 87
