%p the time period to which the data source applies (i.e. temporal coverage)
= label_tag      :p0, 'start:',    :class => 'date end'
= text_field_tag :p0, params[:p0], :class => 'date start'
= label_tag      :p1, 'end:',      :class => 'date end'
= text_field_tag :p1, params[:p1], :class => 'date end'
