development:
  host: localhost:3000
  openssl_verify_mode: null

test:
  host: localhost:3000
  openssl_verify_mode: null

production:
  host: localhost:3000
  openssl_verify_mode: null
  address: smtp.yourdomain.com
  port: 25
  domain: nationaldatacatalog.com
  user_name: smtp_user_name
  password: a_very_good_password
