@import 'variables'
@import 'mixins'

// ===== data_sets#index ======

section#data_sets_index
  section.advanced_search
    float: left
    margin-right: $h_space
    form
      section
        h1
          +text_1
          input[type=image]
            display: block
            float: right
            border: 0
      section.filters
        hr
          border: 1 px solid
          margin-top: $baseline
        p
          +text_0
          margin: 0
          font-style: italic
        input[type=submit]
          padding: 0 $h_space / 2
        input.search
          margin-top: $baseline
          width: 100%
        select#filter_select
          width: 70%
        .filter
          margin-top: $baseline
          label.date
            float: left
            width: 25%
          label.rating
            float: left
            width: 25%
          input#keyword_search
            width: 100%
          input.date
            width: 65%
          select
            width: 100%
          select.rating
            width: 60%
          select#distribution_kinds
            height: 3 * $baseline
          select#distribution_formats
            height: 5 * $baseline
      section.columns
        input.update
          margin-top: $baseline
          width: 100%
    section
      +sub_box(1)
    section > h1
      +text_2
      text-align: center
  table.data_sets
    +multicolumn_width(3, 0px)
    float: left
    thead
      tr
        th.title
          width: 20%
          text-align: center
        th.organization
          width: 20%
          text-align: center
        th.catalogs
          width: 20%
          text-align: center
        th.categories
          width: 20%
          text-align: center
        th.tags
          width: 20%
          text-align: center
        th.data_quality
          width: 10%
          text-align: center
        th.documentation_quality
          width: 10%
          text-align: center
        th.interestingness
          width: 10%
          text-align: center
        th.released
          width: 10%
          text-align: center
        th.updated
          width: 10%
          text-align: center
        th.period
          width: 10%
          text-align: center
        th.distributions
          width: 10%
          text-align: center
    tbody
      tr
        td.title
          text-align: left
        td.organization
          text-align: left
        td.catalogs
          text-align: left
        td.categories
          text-align: left
        th.tags
          text-align: left
        td.data_quality
          text-align: center
        td.documentation_quality
          text-align: center
        td.interestingness
          text-align: center
        td.released
          text-align: center
        td.updated
          text-align: center
        td.period
          text-align: center
        td.distributions
          text-align: center

// ===== data_sets#show ======

section#data_sets_show
  section.details
    img.rating
      display: block
      margin-bottom: 10px
  section.distributions
    +box(1)
    h1
      text-align: center
    p
      text-align: center
    ul
      li
        a
          +text_2
          +round_bottom_corners(10px, 10px)
          +round_top_corners(10px, 10px)
          background-color: $blue_chill
          color: $sugar_cane
          display: block
          margin-bottom: $baseline
          text-align: center
          width: 100%

// ===== data_sets#new ======

section#data_sets_new
  section.metadata
    +box(4)
    margin-right: $h_space
    dl
      dd.description
        height: $baseline * 3
        textarea
          height: $baseline * 3
    textarea,
    input
      +multicolumn_width(2, 0px)
      background-color: $coconut_cream
    input#data_set_period_start,
    input#data_set_period_end
      width: inherit
  input#data_set_submit
    padding: 0 2em
    margin-left: $inside_column_width + $h_space
    margin-top: $baseline
