@import 'variables'

// ===== fonts =====

// The font_ mixins only change the font-size. This makes them more useful
// for elements that have weird line-height behavior across browsers, such
// as form fields (particularly input buttons).

=font_0
  font-size: 13px

=font_1
  font-size: 15px

=font_2
  font-size: 18px

=font_3
  font-size: 22px

$baseline: 20px

// The text_ mixins change the font-size and the line-height, which helps
// preserve a constant vertical grid. Please try using these by default;
// if they do not work, then fall back to using the font_ mixins.

=text_0
  +font_0
  line-height: $baseline

=text_1
  +font_1
  line-height: $baseline

=text_2
  +font_2
  line-height: $baseline * 2

=text_3
  +font_3
  line-height: $baseline * 2

// ===== gradients =====

=gradient_background($top_color, $bottom_color)
  background-color: $top_color
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from($top_color), to($bottom_color))
  background-image: -moz-linear-gradient(100% 100% 90deg, $bottom_color, $top_color)

// ===== rounded corners =====

=round_top_corners($x_r, $y_r)
  border-top-left-radius: $x_r $y_r
  border-top-right-radius: $x_r $y_r
  -moz-border-radius-topleft: $x_r $y_r
  -moz-border-radius-topright: $x_r $y_r

=round_bottom_corners($x_r, $y_r)
  border-bottom-left-radius: $x_r $y_r
  border-bottom-right-radius: $x_r $y_r
  -moz-border-radius-bottomleft: $x_r $y_r
  -moz-border-radius-bottomright: $x_r $y_r

// ===== column formulae =====

$empty_space: ($column_count - 1) * $h_space
$inside_column_width: ($page_width - $empty_space) / $column_count

=multicolumn_width($n, $extra)
  width: $inside_column_width * $n + $h_space * ($n - 1) - $extra

=box($n)
  +multicolumn_width($n, $h_space * 2)
  +round_top_corners(10px, 10px)
  +round_bottom_corners(10px, 10px)
  background-color: $pampas
  float: left
  margin: 0 0 $baseline
  padding: ($baseline / 2) $h_space

=sub_box($n)
  +multicolumn_width($n, $h_space * 2)
  +round_top_corners(10px, 10px)
  +round_bottom_corners(10px, 10px)
  background-color: $pampas
  margin: 0 0 $baseline
  padding: ($baseline / 2) $h_space
