%p (only applies to 'document' distribution kinds)
= select_tag :rf, options_for_select(@distribution_formats, params[:rf]), :multiple => true, :size => @distribution_formats.length, :class => :distribution_formats
