%p when the data set was first released
= label_tag      :re0, 'start:',     :class => 'date end'
= text_field_tag :re0, params[:re0], :class => 'date start'
= label_tag      :re1, 'end:',       :class => 'date end'
= text_field_tag :re1, params[:re1], :class => 'date end'
