%p when the data set was last updated
= label_tag      :u0, 'start:',     :class => 'date start'
= text_field_tag :u0, params[:u0] , :class => 'date start'
= label_tag      :u1, 'end:',       :class => 'date end'
= text_field_tag :u1, parmas[:u1] , :class => 'date end'
