- @page_title = "Categories"
%section#categories_index
  %h1.page_title= @page_title
  %table.categories
    %thead
      %tr
        %th.name Name
        %th.similar Similar Categories
        %th.data_sources Data Sources
    %tbody
    - @categories.each do |category|
      %tr
        %td.name= link_to(category.name, category_path(category))
        %td.similar= category_children(category)
        %td.data_sources= category_data_sources(category)
